:root {
    --primary: #911F27;
    --secondary: #630A10;
    --tertiary: #FCF0C8;
    --accend: #FACE7F;
}

.primary-color {
    background-color: var(--primary);
}

.secondary-color {
    background-color: var(--secondary);
}

.tertiary-color {
    background-color: var(--tertiary);
}

.accent-color {
    background-color: var(--accend);
}

a:hover {
    background: var(--accend);
}

.page-active {
    background-color: var(--accend);
}

header>nav>ul>li {
    background-color: var(--secondary);
}

h1,
h2,
h3,
p,
a {
    color: var(--tertiary);
}