/* main */
a {
    text-decoration: none;
}

* {
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1080px;
    background-color: rgb(95, 95, 95);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: .1rem;
}

a {
    color: inherit;
    white-space: nowrap;
}

header>nav>ul {
    margin: 0 5rem;
}

header>nav>ul>li {
    padding: 0;
}

header>nav>ul>li>a {
    display: block;
    padding: .2rem .2rem;
}

header>form {
    justify-content: end;
}

header>form>input:nth-child(1) {
    width: 15%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

header>form>input:nth-child(2) {
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

nav>ul {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: auto;
}

main>section {
    flex: 5;
}

main>aside {
    flex: 2;
}

/* section {
    margin: 0;
} */

section>nav>ul {
    margin: auto;
    width: 200px;
}

section>nav>ul>li {
    padding: 0;
}

section>nav>ul>li>a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 0;
}

section>nav>ul>li>a>div {
    margin: auto;
    padding: 0;
    width: 20px;
    height: 25px;
    line-height: 1.5em;
}

article {
    margin: 0 .2rem;
    padding: .2rem;
}

article>img {
    object-fit: cover;
    aspect-ratio: 2/3;
}

article>div {
    flex: 5;
}

aside>div {
    margin: 0 .2rem;
}

aside>div>img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

aside>div>h2 {
    text-align: center;
}




/* custom class */
/* .gap {
    margin-top: 5px;
} */

.small-screen {
    display: none;
}

.page-active {
    background-color: grey;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

.article-desc {
    padding: .2rem .1rem;
}

.article-p {
    flex-grow: 1;
    height: 10rem;
    overflow-y: scroll;
}




/* screen */
@media screen and (max-width: 1080px) {
    body {
        width: 668px;
    }
}

@media screen and (max-width: 716px) {
    body {
        width: 425px;
    }

    main {
        flex-direction: column;
    }

    main>section {
        flex: 1;
        margin: 0;
    }

    main>aside {
        flex: 1;
    }
}

/* @media screen and (max-width: 490px) {} */

@media screen and (max-width: 319px) {
    * {
        margin: 0;
    }

    body>*:not(.small-screen) {
        display: none;
    }

    .small-screen {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -150px;
    }
}